.aboutBody {

    &__in {
        padding: 40px 0;
    }

    &__body {

        &_part {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 50px;

            &:last-child {
                margin-bottom: 0;
            }

            &_img {
                width: 48%;
                height: 426px;
                border-radius: 10px;
                overflow: hidden;
                background-color: #ccc;

                img {
                    width: 100%;    
                    height: 100%;
                    object-fit: cover;
                    display: flex;
                }
            }   

            &_main {
                width: 48%;

                &_title {
                    margin-bottom: 30px;

                }

                &_text {
                    line-height: 35px;
                }
            }
        }
    }
}