.serv {
    &__in {
        padding: 50px 0;
    }

    &__title {
        margin-bottom: 40px;
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
        justify-content: center;
    }

    &__item {
        width: calc((100% / 2) - 30px);
        min-height: 457px;
        position: relative;
        cursor: pointer;
        margin: 0 15px;
        margin-bottom: 30px;

        &:hover {

            // .serv__item_in {
            //     transform: translate(-10px, -10px);
            // }
        }

        // &:after {
        //     position: absolute;
        //     top: 0;
        //     left: 0;
        //     width: 100%;
        //     height: 100%;
        //     content: '';
        //     background-color: var(--violet);
        //     @include def-anim;
        //     border-radius: 10px;
        // }

        &_in {
            background-color: #fff;
            border: 1px solid rgba(140, 118, 168, 0.25);
            border-radius: 10px;
            position: relative;
            z-index: 2;
            overflow: hidden;
            height: 100%;
            width: 100%;
            @include def-anim;
            padding: 20px 25px;

            &:after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                content: '';
                background: linear-gradient(180deg, #FBF7FF 0%, rgba(247, 238, 235, 0) 100%);
            }
        }

        &_head {
            position: relative;
            z-index: 2;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(140, 118, 168, 0.25);
            display: flex;
            align-items: center;
            justify-content: space-between;

            &_title {
                position: relative;
                padding-left: 45px;

                &:after {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 30px;
                    height: 30px;
                    content: '';
                    background-image: url('../img/violet-check.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                }
            }

            &_price {
                font-weight: 500;
                font-size: 25px;
                line-height: 45px;
            }
        }

        &_body {
            position: relative;
            z-index: 2;
            padding-left: 20px;
            padding-top: 22px;
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                li {
                    width: 48%;
                    margin-bottom: 10px;
                    font-size: 15px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .serv {

        &__item {
            width: calc(100% - 30px);

            &_head {
                flex-wrap: wrap;
                padding-bottom: 5px;
                &_title {
                    margin-bottom: 15px;
                }

                &_price {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .serv {

        &__item {

            &_head {

                &_title {
                    font-size: 20px;
                    line-height: 45px;
                    padding-left: 30px;
                    &:after {
                        width: 25px;
                        height: 25px;
                        top: calc(50% - 12.5px);
                    }
                }

                &_price {
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 520px) {
    .serv {

        &__item {

            &_body {

                ul {
                    li {
                        width: 100%;
                    }
                }
            }
        }
    }
}