.vid {

    &__in {
        padding: 50px 0;
        

    }

    &__title {
        margin-bottom: 40px;
    }

    &__body {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__el {
        min-height: 314px;
        border-radius: 10px;
        background-color: #ccc;
        width: 48%;
    }

    &__main {
        width: 48%;
    }
}